{% extends "./layout.html" %}
{% block content %}
  <h1><div class="text-shadow">Zwift Launcher</div></h1>
  <h4 class="text-shadow">Forgot password</h4>
  <div class="row">
    <div class="col-sm-6 col-md-5">
      <form id="forgot" action="{{ url_for('forgot') }}" method="post" class="top-buffer">
        <div class="row">
          <div class="col-md-12">
            <label class="text-shadow">Username</label>
            <input type="text" id="username" name="username" class="form-control form-control-sm">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 top-buffer">
            <input type="submit" value="Submit" class="btn btn-sm btn-light">
            <a href="{{ url_for('login') }}" class="btn btn-sm btn-secondary">Back</a>
          </div>
        </div>
      </form>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class="list-group top-buffer">
          {% for message in messages %}
            <li class="list-group-item">
              <div class="text-shadow">{{ message }}</div>
            </li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
    </div>
  </div>
{% endblock %}
