<!doctype html5>
<html>
<head>
  <title>zoffline Launcher</title>
</head>
<body>
  <h1>zoffline Launcher</h1>
  <h2>Login</h2>
  <form id="login" action="{{ url_for('login')}}" method="post">
    <table border=0 cellpadding=5>
      <tr><td>Username:</td><td><input type="text" id="username" name="username" /></td></tr>
      <tr><td>Password:</td><td><input type="password" id="password" name="password" /></td></tr>
      <tr><td><button type="submit">Login</button></td></tr>
    </table>
  </form>
  <p><a href="/signup">Sign up</a></p>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
</body>
</html>
