<!doctype html5>
<html>
<head>
  <title>Zwift Launcher</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <link rel="stylesheet" href="/gameassets/site.css"/>
  <!--[if lte IE 9]>
    <style>
      .text-shadow {
        color: black !important;
        position: relative;
        left: 1px;
        top: 2px;
      }
      .text-shadow:before {
        color: white;
        width: 100%;
        position: absolute;
        content: attr(data-innertext);

        top: -4px;
        left: -1px;
      }
      div > h1 span.text-shadow:before, div h2.text-shadow:before {
        top: -2px;
      }
      form .text-shadow:before, .list-group-item div.text-shadow:before {
        top: -1px;
      }
    </style>
  <![endif]-->
</head>
<body>
  <div class="container-fluid">
    <h1><span class="text-shadow">Sign up</span></h1>
    <div class="row">
      <div class="col-sm-6 col-md-5">
        <form id="signup" action="{{ url_for('signup') }}" method="post">
          <div class="row">
            <div class="col-md-12">
              <label class="col-form-label col-form-label-sm text-shadow">Username</label>
              <input type="text" id="username" name="username" class="form-control form-control-sm">
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <label class="col-form-label col-form-label-sm text-shadow">Password</label>
              <input type="password" id="password" name="password" class="form-control form-control-sm">
            </div>
            <div class="col-md-12">
              <label class="col-form-label col-form-label-sm text-shadow">Confirm Password</label>
              <input type="password" id="confirm_password" name="confirm_password" class="form-control form-control-sm">
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <label class="col-form-label col-form-label-sm text-shadow">First name</label>
              <input type="text" id="first_name" name="first_name" class="form-control form-control-sm">
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <label class="col-form-label col-form-label-sm text-shadow">Last name</label>
              <input type="text" id="last_name" name="last_name" class="form-control form-control-sm">
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 top-buffer">
              <input type="submit" value="Sign up" class="btn btn-sm btn-light"><a href="{{ url_for('login') }}" class="btn btn-sm btn-secondary">Back</a>
            </div>
          </div>
        </form>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class="list-group top-buffer">
            {% for message in messages %}
              <li class="list-group-item py-2">
                <div class="text-shadow">{{ message }}</div>
              </li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
      </div>
    </div>
  </div>
  <script>
    var elements = document.getElementsByClassName('text-shadow');
    for(var i = 0; i < elements.length; i++) {
      var el = elements[i];
      el.setAttribute('data-innertext', el.textContent);
    }
  </script>
</body>
</html>
