<!doctype html5>
<html>
<head>
  <title>Zwift Launcher</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <link rel="stylesheet" href="/gameassets/site.css"/>
  <!--[if lte IE 9]>
    <style>
      .text-shadow {
        color: black !important;
        position: relative;
        left: 1px;
        top: 2px;
      }
      .text-shadow:before {
        color: white;
        width: 100%;
        position: absolute;
        content: attr(data-innertext);

        top: -4px;
        left: -1px;
      }
      div > h1 span.text-shadow:before, div h2.text-shadow:before {
        top: -2px;
      }
      form .text-shadow:before, .list-group-item div.text-shadow:before {
        top: -1px;
      }
    </style>
  <![endif]-->
</head>
<body>
  <div class="container-fluid">
    <h1><span class="text-shadow">Zwift Launcher</span></h1>
    {% if username %}
      <h2 class="text-shadow">Logged in as {{ username }}</h2>
        {% if restarting %}
        <div class="row">
          <div class="col-sm-6 col-md-5">
            <p class="alert alert-info">Server is restarting in {{ restarting_in_minutes }} minutes</p>
          </div>
        </div>
        {% endif %}
      <div class="row">
        <div class="col-md-12">
          <a href="{{ url_for('upload', username=username) }}" class="btn btn-sm btn-success">Upload</a>
          <a href="{{ url_for('logout', username=username) }}" class="btn btn-sm btn-secondary">Logout</a>
          {% if is_admin and not restarting %}
            <a href="/restart" class="btn btn-sm btn-danger">Restart server</a>
          {% elif is_admin %}
            <a href="/cancelrestart" class="btn btn-sm btn-danger">Cancel restart</a>
          {% endif %}
        </div>
      </div>
    {% endif %}
    <div class="row">
      <div class="col-sm-6 col-md-5">
        <form method="POST" action="/start-zwift" class="top-buffer">
          <div class="row">
            <div class="col-md-12">
              <label class="text-shadow">Select map (optional)</label>
              <select name="map" class="form-control form-control-sm">
                <option value="CALENDAR">Calendar ({{online.total}} online total)</option>
                <option value="FRANCE">France ({{online.france}} online)</option>
                <option value="INNSBRUCK">Innsbruck ({{online.innsbruck}} online)</option>
                <option value="LONDON">London ({{online.london}} online)</option>
                <option value="NEWYORK">New York ({{online.newyork}} online)</option>
                <option value="PARIS">Paris ({{online.paris}} online)</option>
                <option value="RICHMOND">Richmond ({{online.richmond}} online)</option>
                <option value="WATOPIA">Watopia ({{online.watopia}} online)</option>
                <option value="YORKSHIRE">Yorkshire ({{online.yorkshire}} online)</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 top-buffer">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" {{'checked' if enable_ghosts else ''}} id="enableghosts" name="enableghosts">
                <label class="form-check-label text-shadow" for="enableghosts">
                  Enable ghosts
                </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 top-buffer">
              <input type="submit" value="Start Zwift" class="btn btn-sm btn-light">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script>
    var elements = document.getElementsByClassName('text-shadow');
    for(var i = 0; i < elements.length; i++) {
      var el = elements[i];
      el.setAttribute('data-innertext', el.textContent);
    }
    setTimeout(function() {
      window.location.reload();
    }, 20000);
  </script>
</body>
</html>
