{% extends "./layout.html" %}
{% block content %}
  <h1><div class="text-shadow">Zwift Launcher</div></h1>
  {% if username != "zoffline" %}
    <h4 class="text-shadow">Logged in as {{ username }}</h4>
  {% endif %}
  {% if restarting %}
    <div class="row">
      <div class="col-sm-6 col-md-5">
        <p class="alert alert-info">Server is restarting in {{ restarting_in_minutes }} minutes</p>
      </div>
    </div>
  {% endif %}
  <div class="row">
    <div class="col-md-12">
      <a href="{{ url_for('settings', username=username) }}" class="btn btn-sm btn-secondary">Settings</a>
      {% if is_admin %}
        {% if not restarting %}
          <a href="/restart" class="btn btn-sm btn-danger">Restart server</a>
        {% else %}
          <a href="/cancelrestart" class="btn btn-sm btn-danger">Cancel restart</a>
        {% endif %}
        <a href="/reloadbots" class="btn btn-sm btn-warning">Reload bots</a>
      {% endif %}
      {% if username != "zoffline" %}
        <a href="{{ url_for('logout', username=username) }}" class="btn btn-sm btn-secondary">Logout</a>
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-5">
      <form method="POST" action="/start-zwift" class="top-buffer">
        <div class="row">
          <div class="col-md-12">
            <label class="text-shadow">Map</label>
            <select name="map" class="form-control form-control-sm">
              <option value="CALENDAR">Calendar ({{online.total}} online total)</option>
              <option value="FRANCE">France ({{online.france}} online)</option>
              <option value="INNSBRUCK">Innsbruck ({{online.innsbruck}} online)</option>
              <option value="LONDON">London ({{online.london}} online)</option>
              <option value="MAKURIISLANDS">Makuri Islands ({{online.makuriislands}} online)</option>
              <option value="NEWYORK">New York ({{online.newyork}} online)</option>
              <option value="PARIS">Paris ({{online.paris}} online)</option>
              <option value="RICHMOND">Richmond ({{online.richmond}} online)</option>
              <option value="SCOTLAND">Scotland ({{online.scotland}} online)</option>
              <option value="WATOPIA">Watopia ({{online.watopia}} online)</option>
              <option value="YORKSHIRE">Yorkshire ({{online.yorkshire}} online)</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 top-buffer">
            <label class="text-shadow">Climb</label>
            <select name="climb" class="form-control form-control-sm">
              <option value="CALENDAR">Calendar</option>
              <option value="10000">Ski Lift Climb</option>
              <option value="10001">Climb to Hollywood Sign</option>
              <option value="10002">Eazy Rider</option>
              <option value="10003">Cote de Pike</option>
              <option value="10004">Col d'Aspin</option>
              <option value="10005">Col des Aravis</option>
              <option value="10006">Puy de Dome</option>
              <option value="10007">Cote de Domancy</option>
              <option value="10008">Col du Platzerwasel</option>
              <option value="10009">Cote de Trebiac</option>
              <option value="10010">Col du Tourmalet</option>
              <option value="10011">Bealach na Ba</option>
              <option value="10012">Crow Road</option>
              <option value="10013">Coll d'Ordino</option>
              <option value="10014">La Laguna Negra</option>
              <option value="10015">Col de la Madone</option>
              <option value="10016">Sa Calobra</option>
              <option value="10017">Rocacorba</option>
              <option value="10018">Old La Honda</option>
              <option value="10019">La Super Planche des Belles Filles</option>
              <option value="10020">Old Willunga Hill</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 top-buffer">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" {{'checked' if enable_ghosts else ''}} id="enableghosts" name="enableghosts">
              <label class="form-check-label text-shadow" for="enableghosts">
                Enable ghosts
              </label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 top-buffer">
            <input type="submit" value="Start Zwift" class="btn btn-sm btn-light">
          </div>
        </div>
      </form>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class="list-group top-buffer">
          {% for message in messages %}
            <li class="list-group-item">
              <div class="text-shadow">{{ message }}</div>
            </li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
    </div>
  </div>
{% endblock %}
{% block scripts %}
  <script>
    setTimeout(function() {
      window.location.reload();
    }, 20000);
  </script>
{% endblock %}
