.s1 { margin-left:-192pt;text-indent:0pt;width: 193pt;font-family:Courier New; }
.s2 { margin-left:-189pt;text-indent:0pt;width: 189pt;font-family:Courier New; }
.s4 { margin-left:-195pt;text-indent:0pt;width: 195pt;font-family:Courier New; }
.s7 { margin-left:-130pt;text-indent:0pt;width: 130pt; }
.s8 { margin-left:-213pt;text-indent:0pt;width: 213pt;font-family:Courier New; }
.s9 { margin-left:-113pt;text-indent:0pt;width: 113pt; }
.s10 { margin-left:-11pt;text-indent:0pt;width: 11pt; }
.s11 { margin-left:-113pt;text-indent:0pt;width: 113pt;font-family:Courier New; }
.s12 { margin-left:-249pt;text-indent:0pt;width: 839017pt;font-family:Courier New; }
.s14 { margin-left:-207pt;text-indent:0pt;width: 207pt;font-family:Courier New; }
.s15 { margin-left:-11pt;text-indent:0pt;width: 11pt;font-size:small; }
.s16 { margin-left:-190pt;text-indent:0pt;width: 190pt;font-family:Courier New; }
.s18 { margin-left:-156pt;text-indent:0pt;width: 156pt;font-family:Courier New; }
.s19 { margin-left:-141pt;text-indent:0pt;width: 141pt; }
